apiVersion: v1
kind: Service
metadata:
  name: api-svc
  annotations:
    getambassador.io/config: |
      ---
      apiVersion: ambassador/v1
      kind:  Mapping
      name:  api-mapping
      prefix: /api/
      service: api-svc
spec:
  selector:
    app: api-a
  ports:
  - protocol: TCP
    port: 80
    targetPort: 80
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: api-a-deploy
  labels:
    app: api-a
spec:
  replicas: 3
  selector:
    matchLabels:
      app: api-a
  template:
    metadata:
      labels:
        app: api-a
    spec:
      containers:
      - name: api-a
        image: adamwu/netcoreapi:v1.7
        ports:
        - containerPort: 80