apiVersion: getambassador.io/v1
kind:  Mapping
metadata:
  name:  api-mapping
spec:
  prefix: /api/
  service: api-svc
---
apiVersion: v1
kind: Service
metadata:
  name: api-svc
spec:
  selector:
    app: api-a
  ports:
  - protocol: TCP
    port: 80
    targetPort: 80
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: api-a-deploy
  labels:
    app: api-a
spec:
  replicas: 3
  selector:
    matchLabels:
      app: api-a
  template:
    metadata:
      labels:
        app: api-a
    spec:
      containers:
      - name: api-a
        image: adamwu/netcoreapi:v1.7
        ports:
        - containerPort: 80